<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}">
<head>
    <title>Register Form</title>
</head>
<body>

<div layout:fragment="content" class="container mySpace">
    <h2>Approve User Permissions</h2></br>

    <form th:action="@{/approvePermission}" th:object="${user}" method="post">
        <!-- Permissions -->
        <!-- role -->
<!--        <div class="form-group">-->
<!--            <label for="permissions" class="form-control-label">Permissions</label>-->

<!--            <select id="permissions" name="permissions" class="custom-select" >-->
<!--                <option th:each="permissions : ${permissionList}" th:value="${permissions.name}" th:attr="choiceid=${permissions.name}" th:text="${permissions.name}">-->
<!--                </option>-->
<!--            </select>-->

<!--&lt;!&ndash;            <div class="text text-danger" th:if="${#fields.hasErrors('permissions')}" th:errors="*{permissions}"></div>&ndash;&gt;-->
<!--        </div>-->



<!--        <div class="form-group">-->
<!--            <div class="custom-control custom-checkbox">-->
<!--                <input type="checkbox" class="custom-control-input" id="customCheck1" enabled="">-->
<!--                <label class="custom-control-label" for="customCheck1">Access to Reports</label>-->
<!--            </div>-->
<!--            <div class="custom-control custom-checkbox">-->
<!--                <input type="checkbox" class="custom-control-input" id="customCheck2" enabled="">-->
<!--                <label class="custom-control-label" for="customCheck2">Uploading Products</label>-->
<!--            </div>-->
<!--            <div class="custom-control custom-checkbox">-->
<!--                <input type="checkbox" class="custom-control-input" id="customCheck3" enabled="">-->
<!--                <label class="custom-control-label" for="customCheck3">Modify Products</label>-->
<!--            </div>-->
<!--        </div>-->

        <!-- email -->
        <div class="form-group">
            <label for="email" class="form-control-label">Email</label>
            <input type="text" class="form-control" th:field="*{email}" id="email" th:disabled />
            <div class="text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
        </div>

        <!-- name -->
        <div class="form-group">
            <label for="firstName" class="form-control-label">Name</label>
            <input type="text" class="form-control" th:field="*{firstName}" id="firstName" />
            <div class="text text-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
        </div>

        <!-- lastname -->
        <div class="form-group">
            <label for="lastName" class="form-control-label">Lastname</label>
            <input type="text" class="form-control" th:field="*{lastName}" id="lastName" />
            <div class="text text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
        </div>

        <!-- phoneNumber -->
        <div class="form-group">
            <label for="phoneNumber" class="form-control-label">Phone Number</label>
            <input type="text" class="form-control" th:field="*{phoneNumber}" id="phoneNumber" th:placeholder="nnn-nnn-nnnn"/>
            <div class="text text-danger" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></div>
        </div>

        <input type="submit" value="Confirm" class="btn btn-success" />

    </form>
</div>

</body>
</html>
