<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}">
<head>
    <meta charset="UTF-8">
    <title>Edit Product</title>
</head>
<body>
<div layout:fragment="content" class="container mySpace">
    <form th:action="@{/saveProduct}" method="post">

        <input type="hidden" class="form-control" name="vendor_id" th:value="*{product.vendor_id}"/>
        <input type="hidden" class="form-control" name="id" th:value="*{product.id}"/>

        <!-- title -->
        <div class="form-group">
            <label for="title" class="form-control-label">Title</label>
            <input type="text" class="form-control" id="title" name="title" th:field="*{product.title}"/>
        </div>

        <!-- desc -->
        <div class="form-group">
            <label for="description" class="form-control-label">Description</label>
            <input type="text" class="form-control" id="description" name="description"
                   th:field="*{product.description}"/>
        </div>

        <!-- price -->
        <div class="form-group">
            <label for="price" class="form-control-label">Price</label>
            <input type="text" class="form-control" id="price" name="price" th:field="*{product.price}"/>
        </div>

        <div class="form-group">
            <select name="product_status" class="custom-select">
                <option th:if="${product_status_Opt == product.product_status}"
                        th:each="product_status_Opt : ${T(org.system.product.model.ProductStatus).values()}"
                        th:value="${product_status_Opt}" th:text="${product_status_Opt}" selected></option>
                <option th:unless="${product_status_Opt == product.product_status}"
                        th:each="product_status_Opt : ${T(org.system.product.model.ProductStatus).values()}"
                        th:value="${product_status_Opt}" th:text="${product_status_Opt}"></option>
            </select>
        </div>

        <div class="form-group">
            <select name="product_process_status" class="custom-select">
                <option th:if="${product_process_status_Opt == product.product_process_status}"
                        th:each="product_process_status_Opt : ${T(org.system.product.model.ProductProcessStatus).values()}"
                        th:value="${product_process_status_Opt}" th:text="${product_process_status_Opt}"
                        selected></option>
                <option th:unless="${product_process_status_Opt == product.product_process_status}"
                        th:each="product_process_status_Opt : ${T(org.system.product.model.ProductProcessStatus).values()}"
                        th:value="${product_process_status_Opt}" th:text="${product_process_status_Opt}"></option>
            </select>
        </div>

        <input type="submit" value="Submit" class="btn btn-primary"/>

    </form>
</div>
</body>
</html>