<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}">
    <head>
        <title>List Page</title>
    </head>
    <body>

        <div layout:fragment="content" class="container mySpace">
            <h2>Users Activation & Permission and Tasks Assignation</h2>
            <form action="/users" class="form-inline">
                <div class="form-group mb-2">
                    <input type="text" class="form-control" name="name" placeholder="Search User"/>
                    <input type="submit" value="Search" class="btn btn-primary"/>
                </div>
                <div class="form-group mb-2">
                    <a th:href="@{'/userReport'}" style="float: right;"><img src="../../image/pdf.png" style="width: 40px;"></a>
                </div>
            </form>

            <div class="card">
                <div class="card card-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Role</th>
                                <th>Status</th>
                                <th>Operations</th>
                                <th>Permissions</th>
                                <th>Tasks</th>
                                <th>Orders</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="user:${users}">
                                <td th:text="${user.firstName}"></td>
                                <td th:text="${user.email}"></td>
                                <td th:text="${user.roleName}"></td>
                                <td th:text="${user.userStatus}"></td>
                                <td th:if="${ user.email != 'admin@mail.com' }">
                                    <a th:href="@{/approve(email=${user.email})}" class="btn btn-outline-success" th:if="${user.userStatus=='PENDING' || user.userStatus=='REJECTED' }">Activation</a>
                                    <a th:href="@{/reject(email=${user.email})}"  class="btn btn-outline-danger"  th:if="${user.userStatus=='PENDING' || user.userStatus=='ACTIVE' }">  Deactivate</a>
                                </td>
                                <td th:if="${ (user.roleName=='EMPLOYEE' || user.roleName=='VENDOR')}">
                                    <a th:href="@{/approvePermission(email=${user.email})}" class="btn btn-outline-info"    th:if="${(user.userStatus=='ACTIVE' && user.perms =='NO_ACCESS_REPORT') }">Grant</a>
                                    <a th:href="@{/rejectPermission(email=${user.email})}"  class="btn btn-outline-warning" th:if="${user.userStatus=='ACTIVE' && user.perms=='ACCESS_REPORT'}">Revoke</a>
                                </td>
                                <td th:if="${ user.roleName=='EMPLOYEE'}">
                                    <a th:href="@{/addTask(email=${user.email})}"  class="btn btn-outline-warning"  th:if="${user.userStatus=='ACTIVE' }">Assign</a>
                                </td>

                                <td th:if="${ user.roleName=='VENDOR' || user.roleName=='ADMIN'}">


<!--                                <div class="form-group mb-2">-->
<!--                                    <a th:href="@{/orderReport(email=${user.email})}"  class="btn btn-outline-warning"  th:if="${user.userStatus=='ACTIVE' }">Report</a>-->

<!--&lt;!&ndash;                                    <a th:href="@{'/orderReport'}" style="float: right;"><img src="../../image/pdf.png" style="width: 40px;"></a>&ndash;&gt;-->
<!--                                </div>-->
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </body>
</html>
