<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}">
    <head>
        <title>Login Form</title>
    </head>
    <body>

        <div layout:fragment="content" class="container mySpace">
            <h2>Log In</h2>
            <div class="alert alert-danger" th:if="${param.error}">
                <h2>Invalid Email or Password! Please contact administration.</h2>
            </div>

            <form th:action="@{/login}" method="post">
                <!-- email -->
                <div class="form-group">
                    <label for="email" class="form-control-label">Email</label>
                    <input type="text" class="form-control" id="email" name="username"/>
                </div>

                <!-- password -->
                <div class="form-group">
                    <label for="password" class="form-control-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password" />
                </div>

<!--                &lt;!&ndash; role &ndash;&gt;-->
<!--                <div class="form-group">-->
<!--                    <label for="roles" class="form-control-label">Role</label>-->
<!--                    <select id="roles" name="roles" class="custom-select" >-->
<!--                        <option th:each="roles : ${roleList}" th:value="${roles.name}" th:attr="choiceid=${roles.name}" th:text="${roles.name}">-->
<!--                        </option>-->
<!--                    </select>-->

<!--&lt;!&ndash;                    <div class="text text-danger" th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}"></div>&ndash;&gt;-->
<!--                </div>-->

                <input type="submit" value="Submit" class="btn btn-primary" />

            </form>
        </div>

    </body>
</html>
