<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}">
    <head>
        <title>Success Page</title>
    </head>
    <body>

        <div layout:fragment="content" class="container mySpace">

            <div class="alert alert-success">
                <h2>Registration successful! Please, <strong>Log In</strong> to continue.</h2>
            </div>

        </div>

    </body>
</html>